<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ejemplo 1</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/global.css'>
    <script src='../../js/sesion2/Tarea1.js'></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>
<body>
   <div class="cuerpo">
        <table class="table">
            <thead>
                <tr class="table-dark">
                    <td colspan="2">
                        EJERCICIOS
                    </td>
                </tr>
            </thead>            
            <tbody class=".table-striped">
                <tr>
                    <td>
                        1.4.4.	Una compañía de seguros está abriendo un depto. de finanzas y estableció un programa para captar clientes, que consiste en lo siguiente: Si el monto por el que se efectúa la fianza es menor o igual que $50 000 la cuota a pagar será por el 3% del monto, y si el monto es mayor que $50 000 la cuota a pagar será el 2% del monto. La afianzadora desea determinar cuál será la cuota que debe pagar un cliente. 

                        <table width="50%">                          
                            <tbody class="table table-success">
                                <tr>
                                    <td>
                                        Monto:
                                    </td>
                                    <td>
                                        <input type="number" name="monto" id="monto" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        %:
                                    </td>
                                    <td>
                                        <input type="text" name="porcentaje" id="porcentaje" value="" size="5" readonly>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Valor cuota:
                                    </td>
                                    <td>
                                        <input type="text" name="valorCuota" id="valorCuota" value="" size="15" readonly>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <input type="button" value="Generar resultado" id="Ejemplo1" name="Ejemplo1" onclick="Calcular(1)">
                        <br>
                        <input type="button" value="Limpiar" id="Ejemplo1" name="Ejemplo1" onclick="Limpiar(1)">
                    </td>
                </tr>
                <tr>
                    <td>
                        1.4.5.	En una escuela la colegiatura de los alumnos se determina según el número de materias que cursan. El costo de todas las materias es el mismo.
                        -	Se ha establecido un programa para estimular a los alumnos, el cual consiste en lo siguiente: si el promedio obtenido por un alumno en el último periodo es mayor o igual que 9, se le hará un descuento del 30% sobre la colegiatura y no se le cobrara IVA; si el promedio obtenido es menor que 9 deberá pagar la colegiatura completa, la cual incluye el 10% de IVA.
                        -	Obtener cuanto debe pagar un alumno.
                        
                        <table width="50%">                          
                            <tbody class="table table-success">
                                <tr>
                                    <td>
                                        Cantidad estudiantes:
                                    </td>
                                    <td>
                                        <input type="number" name="cantidadEstudiante" id="cantidadEstudiante" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Valor Unitario Materia:</td>
                                    <td>
                                        <h4>$8.000</h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <table width="50%" class="table table-dark">  
                            <thead>
                                <tr >
                                    <td>Nombre</td>
                                    <td>Cantidad Materias</td>
                                    <td>Promedio</td>                                    
                                    <td>Valor Bruto</td>
                                    <td>Descuento</td>
                                    <td>Iva</td>
                                    <td>Valor Neto</td>
                                </tr>
                            </thead>                        
                            <tbody class="table-warning" id="dataResult">
                                                                
                            </tbody>                           
                        </table>

                    </td>
                    <td>
                        <input type="button" value="Generar resultado" id="Ejemplo2" name="Ejemplo2" onclick="Calcular(2)">
                    </td>
                </tr>
                <tr>
                    <td>
                        1.4.6.	Una empresa de bienes raíces ofrece casas de interés social, bajo las siguientes condiciones: Si los ingresos del comprador son menores de $8000, el enganche será del 15% del costo de la casa y el resto se distribuirá en pagos mensuales, a pagar en diez años. Si los ingresos del comprador son de $8000 o más el enganche será del 30% del costo de la casa y el resto se distribuirá en pagos mensuales a pagar en 7 años.
                        -	La empresa quiere obtener cuanto debe pagar un comprador por concepto de enganche y cuanto por cada pago parcial.

    
                    </td>
                    <td>
                        <input type="button" value="Generar resultado" id="Ejemplo3" name="Ejemplo3" onclick="Calcular(3)">
                    </td>
                </tr>
            </tbody>
        </table>
   </div>
</body>
</html>